<!DOCTYPE HTML>
<html>

<head>
    <title>Chatbot</title>
    <link rel="stylesheet" type="text/css"  href="../static/css/chatbot.css" >
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <script src="../static/js/chatbot.js"></script>
</head>
<body>

	<div >
      <div><h1 class="head" style=" text-align: center;">AI_QN ChatBot Translater</h1></div>

	    <ol class="messages">
	      <div id="bot">
	      </div>
      </ol>

    <div class="head">
        <div id="translate">
          <div style="clear:both;"></div>
            <div class="taginput">
              <input placeholder="Your message" id="text" type="text" name="fname">
              <button id="summit" style="border-radius: 50%; margin-left: 10px; margin-top: 5px; margin-right: 10px; float: right;"><img style="width:30px;height:30px;" src="./static/images/icon_1.png"></img></button>
            </div>

          </div>
       
    </div>

	</div>

</body>